.bg-blue-1 {
    background-color: #C5E8EF;
}

.bg-nav{
    background-color: #00ABBF
}

.bg-banner{
    background-color: #1F424C;
}

.cardbg{
    background-color: #00ABBF
}

.bg-yellow-1 {
    background-color: #e9c54d
}

span .inline-flex svg{
    display: none;
}

a{
    text-decoration: none;
}